bases-de-dados/

Aula2-2/node_modules/
Aula2-2/package-lock.json
Aula2-2/package.json

Aula2-3/node_modules/
Aula2-3/package-lock.json
Aula2-3/package.json

Aula2-4/node_modules/
Aula2-4/package-lock.json
Aula2-4/package.json

my-bank-api/node_modules/
my-bank-api/package-lock.json
my-bank-api/package.json